@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
:root {
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --text-pink-color: #ffa5ba;
  --text-red-color: #d41443;
  --text-grey-color: #907e82;
  --hero-background-color: #ffb8ca;
  --hero-elipse-color: #ffa5ba;
  --products-pink-color: #ffb8ca;
  --products-brown-color: #f0d1a5;
  --products-green-color: #c2e297;
  --description-background-color: #fff5f6;
  --slider-active-button-color: #d31342;
  --slider-nonactive-button-color: #d9d9d9;
  --slider-background-color: #fafafa;
  --location-text-color: #907e82;
  --location-cafe-color: #f0d1a5;
  --location-button-color: #D41342;
  --button-hover-color: #ecebeb;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/***LOCATIONS***/
.text-title-style {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.text-description-style {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-grey-color);
}

.locations {
  background-color: var(--description-background-color);
}

.locations-list {
  margin-bottom: -20px;
  margin-top: 86px;
}

.locations-list-item {
  width: 220px;
  height: 427px;
  padding: 43px 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.locations-item-title {
  width: 80px;
  height: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.41;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--location-cafe-color);
  border-radius: 4px;
}

.foodtruck {
  width: 130px;
  background-color: var(--products-green-color);
}

.city-description {
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}

.city-name {
  margin-bottom: 10px;
}

.working-days-sublist {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E1E1E1;
}

.working-hours {
  color: var(--text-pink-color);
}

.location-address {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.location-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 113px;
}

.location-buttons button {
  width: 161px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  border-radius: 22px;
  border: none;
}

.our-locations-button {
  margin-bottom: 10px;
  color: var(--primary-white-color);
  background-color: var(--location-button-color);
}

.franchise-button {
  color: var(--text-red-color);
  background-color: var(--primary-white-color);
}

.footer-title {
  font-family: Titan One;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-transform: uppercase;
  color: #d41443;
}

.footer-suptitle {
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;
  text-transform: uppercase;
  color: #ffa5ba;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: #333;
  border-radius: 50%;
  background: #fea5bb;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-text-link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
}

.footer-color-link {
  color: #d41443;
}

.footer-text {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  color: #907e82;
}
/*# sourceMappingURL=main.css.map */