<header class="header">
  <div class="header-block container">
    <div class="logo animate__bounceIn">
      <a href="./index.html">
        <img
          src="./images/header/mob-logo.png"
          alt="icecreame logo"
          width="199"
          height="50"
        />
      </a>
    </div>

    <!-- navigation -->
    <h2 class="visually-hidden">Navigation</h2>

    <nav class="header-nav">
      <ul class="nav-list">
        <li>
          <a class="nav-link link-none" href="./index.html">Home</a>
        </li>
        <li>
          <a class="nav-link link-none" href="#about-us">About us</a>
        </li>
        <li>
          <a class="nav-link link-none" href="#how-it-is-made"
            >How it’s made?</a
          >
        </li>
        <li>
          <a class="nav-link link-none" href="#products">Our products</a>
        </li>
        <li>
          <a class="nav-link link-none" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="btn-block">
      <div class="header-btn">
        <button
          type="button"
          class="btn appeal-two"
          aria-label="Buy now"
          data-modal-open
        >
          Buy now
          <svg class="btn-icon next-two">
            <use href="./images/svg/sprite.svg#icon-move-to-next"></use>
          </svg>
        </button>
      </div>

      <!-- mobile/tablet menu-button -->
      <button
        class="menu-button"
        aria-label="open mobile menu"
        data-menu-button
      >
        <svg width="20" height="20">
          <use
            class="icon-menu"
            href="./images/icon/sprite.svg#icon-mobile-menu"
          ></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- mobile/tablet menu -->
  <div class="menu-container" id="menu-container" data-menu>
    <!-- btn close menu -->
    <button
      class="menu-button-close"
      aria-label="close mobile menu"
      data-menu-close
    >
      <svg width="20" height="20">
        <use
          class="icon-cross"
          href="./images/icon/sprite.svg#icon-mobile-close"
        ></use>
      </svg>
    </button>
    <!-- ========= -->

    <button
      type="button"
      class="mob-menu-btn btn appeal-two"
      aria-label="Buy now"
    >
      Buy now
      <svg class="btn-icon next-two">
        <use href="./images/svg/sprite.svg#icon-move-to-next"></use>
      </svg>
    </button>

    <ul class="mob-menu-list">
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="./index.html">Home</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#about-us">About us</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#how-it-is-made">How it’s made?</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#products">Our products</a>
      </li>
      <li class="mob-menu-item">
        <a class="mob-menu-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
</header>
