<section class="review">
    <div class="container">
        <div class="review-slider">
            <div class="review-slider-content">
                <img class="review-img" src="./images/testimonials1.jpg" alt="girl" width="85px" height="85px">
                <div class="review-wrapper">
                    <div class="review-wrapper-text">
                        <svg class="review-wrapper-svg" width=54 height=40>
                            <use href="./images/icon/sprite.svg#icon-apostrophe"></use>
                        </svg>
                        <p class="review-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <span class="review-dotline"></span>
                <h4 class="review-name">Emily, Los Angeles</h4>
            </div>
            <div class="review-slider-content">
                <img class="review-img" src="./images/testimonials1.jpg" alt="girl" width="85px" height="85px">
                <div class="review-wrapper">
                    <div class="review-wrapper-text">
                        <svg class="review-wrapper-svg" width=54 height=40>
                            <use href="./images/icon/sprite.svg#icon-apostrophe"></use>
                        </svg>
                        <p class="review-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                            nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <span class="review-dotline"></span>
                <h4 class="review-name">Emily, Los Angeles</h4>
            </div>
            <div class="review-slider-content">
                <img class="review-img" src="./images/testimonials1.jpg" alt="girl" width="85px" height="85px">
                <div class="review-wrapper">
                    <div class="review-wrapper-text">
                        <svg class="review-wrapper-svg" width=54 height=40>
                            <use href="./images/icon/sprite.svg#icon-apostrophe"></use>
                        </svg>
                        <p class="review-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                            nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                </div>
                <span class="review-dotline"></span>
                <h4 class="review-name">Emily, Los Angeles</h4>
            </div>
        </div>       
    </div>
</section>
